body {
    display: flex;
    flex-direction: column;
}

section {
    border: 2px solid black;
    padding: 20px;
}


#text-input_1, #text-input_2 {
    width:30vh;
    height: 200px;
    resize: none;
}


#first {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-box {
    padding: 10px;
}

#second {
    padding: 5px;
    justify-items: center;
}

#third {
    display: flex;
}

#result-box_1, #result-box_2 {
    width:70vh;
    height: auto;
    position: relative;
}

#result-box_2 {
    border-left: 3px solid black;
    padding-left: 10px;
}


#limit-line {
    position: absolute;
    width: 5px;
    background-color: red;
    left: 300px;
    top: 0;
    height: 100%;
    content: "";
    z-index: 1;
  }

  #limit-slider {
    min-width: 300px;
  }